.flash
  position: fixed
  width: 300px
  left: 50%
  margin-left: -150px
  top: 10%
  border-width: .1em
  border-style: solid
  padding: 1em
  border-radius: .5em
  &.success
    border-color: green
  &.error
    border-color: red

.students
  > .add-student > form
    label
      width: 10em
      display: inline-block
  > .students-list
    margin-top: 2em
