.flash
  position: fixed
  background: #fff
  width: 300px
  left: 50%
  margin-left: -150px
  top: 10%
  border-width: .1em
  border-style: solid
  padding: 1em
  border-radius: .5em
  &.success
    border-color: green
  &.error
    border-color: red

label
  width: 10em
  display: inline-block

.students.left-container
  float: left
  width: 50%
  border-right: 1px solid #eee
  min-height: 100%
  box-sizing: border-box
  padding-bottom: 10em
  > .students-list,
  > .high-rated-list,
  > .filter-with-ip-and-characteristic,
  > .search-with-filters
    margin-top: 4em

.display-container.right-container
  float: right
  width: 50%
  > .student-popup
    padding: 2em
    box-sizing: border-box
    position: fixed
    > .card
      > .head > span,
      > .body > div > span
        display: table-cell
        min-width: 5em
      > .head > span
        font-weight: 700
